body {
    background:url(../images/dark-blue-industrial-patterns-4.jpg);
    margin:0;
    font-family: "Lucida Sans Unicode";
}
.page {
    margin:0 auto;
    overflow:hidden;
    width:auto;
}
p a {
    color:#464646!important;
}
p a:hover {
    color:#1a1918!important;
}
.background {
    width:85%;
    overflow:hidden;
    margin:0 auto;
}

.sidebar {
    float:left;
    width:170px;
}
.sidebar a#logo {
    display:block;
    margin:45px auto 60px;
    outline:none;
}
.sidebar a#logo img {
    border:0;
}
.sidebar ul.navigation {
    list-style:none;
    margin:0;
    padding:0;
}
.sidebar ul.navigation li.selected a {
    background:url(../images/bg-menu-selected.png) repeat-x;
    color:#eef6f8;
    outline:none;
}
.sidebar ul.navigation li.selected a:hover {
    color:#eef6f8;
}
.sidebar ul.navigation li {
    margin:0 0 11px;
    padding:0;
    text-align:left;
}
.sidebar ul.navigation li a {
    background-color:#d88d30;
    color:#fbf6f2;
    display:block;
    font-size:14px;
    height:30px;
    line-height:30px;
    padding:0 0 0 10px;
    text-decoration:none;
    text-shadow:1px 0 0 #fbf6f2;
    text-transform:uppercase;
    outline:none;
}
.body {
    float:left;
    width:80%
}
.body div div.figure {
    min-height:0;
    padding:0;
}
.body div div.figure img {
    height:329px;
    width: 100%;
}
.body div div {
    background-color:#dccfaf;
    width:auto;
    height: auto;
    color:#447f8d;
    padding:0;
}
.body div div h3 {
    font-size:24px;
    margin:0;
    padding:21px 20px 0;
    font-weight:normal;
}
.body div div p {
    color:#383836;
    font-size:14px;
    line-height:24px;
    text-align:justify;
    margin:26px 0 35px;
    padding:0 20px;
}
.body div div p a {
    color:#4a8394;
    outline:none;
}
.body div div div.first {
    background:url(../images/pieces2.jpg) no-repeat;
    height:198px;
    min-height:0;
    padding:0;
    /*width: 100%!important;*/
}
.body div div div.first p {
    color:#FFF;
    float:left;
    font-size:26px;
    line-height:32px;
    text-align:right;
    text-transform:uppercase;
    padding:0;
}
.body div div div.first div {
    background:url(../images/bg-gradient.png) repeat-x;
    float:right;
    height:197px;
    width:36%;
    border-color:#7d9794;
    border-style:solid none none solid;
    border-width:1px;
}
.body div div div.first div p {
    font-size:14px;
    line-height:22px;
    text-align:left;
    text-transform:none;
    margin:10px 0;
    padding:4px 20px 10px;
}
.body div div div.genius {
    background:url(../images/3d-chess-board-wallpaper.jpg) no-repeat;
    height:197px;
    min-height:0;
    padding:0;
}
.body div div div p {
    color:#FFF;
    float:left;
    font-size:26px;
    line-height:32px;
    text-align:right;
    text-transform:uppercase;
    margin:16px 0 0 20px;
    padding:0;
}
.body div div div div {
    background:url(../images/bg-gradient.png) repeat-x;
    float:right;
    height:197px;
    width:36%;
}
.body div div div div p {
    font-size:14px;
    line-height:22px;
    text-align:left;
    text-transform:none;
    color:#fff;
    margin:10px 0;
    padding:4px 20px 10px;
}
.body div div div.section {
    background-color:#DCCFAF;
    background:none;
    height:187px;
    min-height:0;
}
.body div div div.section h3 {
    margin:0 0 23px;
    font-weight: normal;
}
.body div div div.section p {
    font-size:14px;
    color:#383836;
    text-transform:none;
    border:1px solid #285069;
    text-align:justify;
    line-height:27px;
    margin:0 10px 33px 20px;
    padding:0 20px;
}
.link {
    float: right;
    padding-right: 20px;
    color: lightsteelblue;
}
.en_pessant {
    float:right;
    margin:0 0 15px 20px;
    padding:15px;
    border:1px solid black;
}
.body div div div.rocada-mare {
    /*float: none!important;*/
    /*float: left;*/
    /*vertical-align:baseline;*/
    text-align: center;
}

div.neoficiali{
    float: left;
    text-align: center;
    width: 120px!important;
    height: 190px!important;
    border: 1px solid gray;
    margin: 4px;
    margin-bottom: 8px;
    padding: 0px;
    margin-left: 7%;
}

.thumbnail {
    width: 110px;
    height: 140px;
    margin: 3px;
}
.box {
    width: 110px;
    padding: 0px;
    color: #255059;
}
.top {
    margin-left: 5%!important;
}
.top_a {
    margin-left: 5%!important;
    color: #255059;
}
.top_img {
    text-align: center;
    margin-bottom: 20px;
}
.play_o {
    width: 100%;
    margin-top: 3%;
}
.stiri_img {
    float: left;
    margin: 8px;
    margin-bottom: 1px!important;
}
.stiri {
    padding: 0!important;
}
